.intro {
	margin: 2em 0;
}

@media screen and ( min-width: 64em ) {
	.intro {
		display: flex;
		align-items: flex-start;
	}
}

.intro__copy {
	font-size: 1.2em;
	margin: 0;
}

@media screen and ( min-width: 64em ) {
	.intro__copy {
		font-size: 1.4em;
	}
}

.intro__headshot {
	border-radius: 100%;
	height: auto;
	width: 3.5em;
	margin-right: 1em;
	float: left;
}

@media screen and ( min-width: 64em ) {
	.intro__headshot {
		margin-left: -10em;
		float: none;
		width: 8em;
		margin-right: 2em;
		margin-top: 1em;
	}
}
