* {
	box-sizing: border-box;

	&:focus {
		outline: 0.25rem solid #3c3a3a;
	}

	&:active {
		outline: none;
	}
}

body {
	font-size: 100%;
	color: #3c3a3a;
	border-top: 1em solid #d3cbc7;
	font-family: "Geomanist", "Helvetica Neue", Arial, sans-serif;
}

p {
	margin: 0 0 1em;
	line-height: 1.6;
}

figure {
	margin: 0;
}

figcaption {
	font-style: italic;
	font-size: 0.75em;
	margin: 1em 0;
}

img {
	max-width: 100%;
}

ul {
	padding: 0 0 0 1em;
}

li {
	margin: 0 0 1.5em;
	padding: 0 0 0 0.5em;
}

li:last-child {
	margin-bottom: 2.5em;
}

a {
	color: #24827f;
}

a:hover {
	color: #1a5856;
}

blockquote {
	font-style: italic;
}

h1 {
	border-bottom: 2px solid #24827f;
	margin: 0 0 1.5em;
}

h2 {
	border-bottom: 2px solid #d3cbc7;
	margin: 1em 0 1.25em;
}
