@font-face {
	font-family: "Bariol Serif";
	src: url("/fonts/bariol/bariol_serif_regular-webfont.woff2") format("woff2"), url("/fonts/bariol/bariol_serif_regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "Geomanist";
	src: url("/fonts/geomanist/geomanist-regular-webfont.woff2") format("woff2"), url("/fonts/geomanist/geomanist-regular-webfont.woff") format("woff");
}
