<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="utf-8">
	<title>{{ if .Title }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{{ if .Title }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}" />
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta property="og:locale" content="{{ .Site.LanguageCode }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ .Site.BaseURL }}img/heather-shakespeare-headshot.jpg">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->

	{{ with resources.Get "sass/main.scss" | toCSS | minify }}
	<style>{{ .Content | safeCSS }}</style>
	{{ end }}
</head>

<body>
	<a href="#main" class="skip-link">Skip to content</a>
	<!-- Code that all your templates share, like a header -->
	<header class="header">
	  <a href="/" class="header__anchor header__title">Heather Shakespeare</a>
		{{ partial "nav.html" . }}
	</header>
	{{ block "main" . }}
		<!-- The part of the page that begins to differ between templates -->
	{{ end }}
	{{ block "footer" . }}
		<!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
		<footer>© <a href="/">Heather Shakespeare</a> {{ dateFormat "2006" now }}</footer>
	{{ end }}
</body>

</html>
