{{ define "main" }}
	<main id="main">
		<h1>{{.Title}}</h1>
		<div class="intro">
		  <img src="img/heather-shakespeare-headshot.jpg" alt="Heather Shakespeare" class="intro__headshot">
		  <p class="intro__copy">Hello and welcome. I’m Heather Shakespeare, a writer and writing for wellbeing facilitator living at the heart of the beautiful Surrey Hills in the UK.</p>
		</div>
		<figure class="block-image">
		  <img src="img/surrey-hills.jpg" alt="The setting sun shines through an old knotted tree in the Surrey Hills, England">
		  <figcaption>The Surrey Hills where I live and write</figcaption>
		</figure>
		{{.Content}}
	</main>
{{ end }}
